@{
  Layout = "_Layout";
}

@model Inventory.Models.Collection

<h4>Add a new Collection</h4>
@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name)

    <input type="submit" value="Add new Collection" />
}
<p>@Html.ActionLink("Show all Collections", "Index")</p>